extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="tableOutput")
    script(type='text/javascript')
    script$("#tableOutput").append(crudMatrix.renderTable(!{JSON.stringify(data)}));

